body  {

background: url(BBB.png) no-repeat;
background-size: 123%;

}


.H20  {

text-align: center;
color: green;
font-family: Verdana;

}




a  {

display: block;
width: 200px;
height: 40px;
text-align: center;
text-decoration: none;
background: deepskyblue;
color: white;
font-family: Verdana;
font-size: 25px;
border: 1px solid white;
margin-left: 500px;
margin-top: 50px;
padding: 5px;

}

a:hover  {

background: orange;

}

iframe  {

visibility: hidden;

}

.volume1 {

text-align: center;
color: olivedrab;
margin-left: 505px;
margin-top: 50px;
width: 180px;
padding: 10px;

}

.volume  {

margin-left: 505px;
margin-top: 20px;
width: 180px;
padding: 10px;
cursor: context-menu;

}

button  {

margin-left: 40px;
font-size: 20px;
cursor: context-menu;
background: olivedrab;
color: gold;
width: 30px;
outline: none;

}


p  {

color: darkgreen;
font-family: Verdana;
font-size: 22px;

}


h3  {

color: darkgreen;
font-family: Verdana;
text-align: center;

}

.creator  {

text-align: center;

}

footer {

position: absolute;
background: deepskyblue;
margin-top: 492px;
margin-left: -7px;
text-align: center;
width: 1110px;
padding: 20px;

}